* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: lightcoral;
}

.game-container img {
  height: 10vmin;
}

.game-container .background-lines {
  position: absolute;
  height: 100%;
  width: 100%;
}

.line-1, .line-2, .line-3, .line-4, .line-5, .line-6, .line-7 {
  height: 16.66%;
  width: 100%;
}

.line-1 {
  background-color: lightblue;
}

.line-2 {
  background-color: lightcoral;
}

.line-3 {
  background-color: lightgreen;
}

.line-4 {
  background-color: lightsalmon;
}

.line-5 {
  background-color: lightgoldenrodyellow;
}

.line-6 {
  background-color: lightseagreen;
}

.line-7 {
  background-color: lightpink;
}

#grid {
  overflow: hidden;
  position: absolute;
  height: 550px;
  width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 0;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, 0.1);
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

#grid .card-wrapper {
  height: 90px;
  width: 90px;
  margin: 0 10px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#grid .card-wrapper .card, #grid .card-wrapper .card-front, #grid .card-wrapper .card-back {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#grid .card-wrapper .card-front {
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#grid .card-wrapper .card-back {
  position: absolute;
  background-color: #f8f8f8;
}

#grid .card-wrapper.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#you-win, #you-loose {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(94, 94, 94, 0.288);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

#you-win .try-again, #you-loose .try-again {
  height: 70px;
  width: 200px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  background-color: lightcoral;
  border: none;
  outline: none;
  border-radius: 5px;
}

#you-win .try-again:hover, #you-loose .try-again:hover {
  cursor: pointer;
  background-color: #eb6666;
}

#you-win #game-lost, #you-loose #game-lost {
  height: 550px;
  width: 600px;
  border-radius: 10px;
  background-color: lightpink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#you-win #game-lost #title, #you-loose #game-lost #title {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

#timer {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: lightseagreen;
  color: white;
  font-size: 40px;
  padding: 30px;
}

#timer #time {
  height: 200px;
  width: 200px;
  background-color: lightcoral;
}
/*# sourceMappingURL=style.css.map */